<!--users/templates/users/user_headshot_upload.html-->

{% extends 'base.html' %}

<script>
    img {
        display: block;
        max-width:180px;
        max-height:180px;
        width: auto;
        height: auto;
    }
</script>

{% block content %}
    <h2>Update User headshot</h2>

    <p> Please upload png file only </p>
    
    {% if uploaded_file_url %}
        <img width="300" height="300" src = "{{ uploaded_file_url}}">
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="profile_picture">
            <input type="submit" value="Update">
        </form>
    {% endif %}

    <a href="{% url 'dashboard' %}">Dashboard</a>

{% endblock %}